.hiden-table{
    table-layout:fixed;
}
.hiden-table tr td {
    width: 200px;
    overflow-x:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    /* word-break:keep-all; */
}
.hiden-table tr th {
    width: 200px;
    overflow-x:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    /* word-break:keep-all; */
}